body {
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
    padding-top: 70px; 
}

.container {
    margin-top: 50px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.repo-card {
    margin-bottom: 20px;
}

.footer {
    margin-top: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

hr{
    border-top: 1px solid rgb(180, 180, 180);
}

.contact-button {
    margin-right: 10px;
}

/* Dark mode */
.dark-mode {
    background-color: #343a40 !important;
    color: #fff;
}

.dark-mode .card {
    background-color: #454d55;
    color: #fff;
}

.dark-mode .footer {
    background-color: #343a40;
    color: #fff;
}

.dark-mode hr {
    border-top: 1px solid rgb(175, 165, 165);
}


.dark-mode {
    color: #fff
}

.repo-card{
    transition: all 0.5s ease-out;
}

.repo-card:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.1);
    cursor: pointer;
}

#toggleDarkModeButton {
    border: none;
    background-color: transparent;
    color: #343a40;
    transition: color 0.3s ease;
}

#toggleDarkModeButton:hover {
    color: #757575;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #888;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 992px) {
    .navbar .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar .nav-item {
        margin-left: 10px;
    }
}


.readme-container{
    background-color: whitesmoke;
    border-radius: 30px;
    border: 1px solid black;
}

.dark-mode .readme-container{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid whitesmoke;

    
}